<div class="container">
  <h1>Tweet Now!</h1>

  <div id="loading">Loading!!</div>

  <form id="tweet" action="/tweet" method="post">
    <textarea name="text"></textarea>
    <input type="submit" value="submit">
  </form>
</div>
